{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
<div class="form-page">
    <div class="form-div">
        <h1>Créer une tache</h1>
        <p>Ajoutez une nouvelle tache à votre liste</p>

        {{ include('task/_form.html.twig') }}
    </div>
</div>


{% endblock %}