{% extends 'base.html.twig' %}

{% block title %}New Folder{% endblock %}

{% block body %}
<div class="form-page">
    <div class="form-div">
        <h1>Créer un dossier</h1>
        <p>Organisez vos tâches par projet</p>
        {{ include('folder/_form.html.twig') }}
    </div>
</div>


<a href="{{ path('app_folder_index') }}">back to list</a>
{% endblock %}