@import "tailwindcss";

:root {
    --primary-color: black;
    --secondary-color: #f3f3f5;
    --third-color: #8e94a0;
    --background-color: #f9fafb;
}

@theme {
    --primary-color: black;
    --secondary-color: #f3f3f5;
    --third-color: #8e94a0;
    --background-color: #f9fafb;
}

.auth-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6edfe;
}

.auth-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 30%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.auth-input {
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}


.black-btn {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.flex-gap {
    display: flex;
    gap: 1rem;
    align-items: center;
}