{% extends 'base.html.twig' %}

{% block title %}New Priority{% endblock %}

{% block body %}
<div class="form-page">
    <div class="form-div">
        <h1>Gérer les priorités</h1>
        <p>Ajoutez ou suprimez des niveaux de priorité personnalisés</p>
    
        {{ include('priority/_form.html.twig') }}
    </div>
</div>
{% endblock %}
